* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}





.container {
  width: 85%;
  max-width: 1100px;
  margin: 30px auto;
}

h1 {
  text-align: center;
  font-weight: normal;
  margin-bottom: 25px;
}


.story-text p {
  font-size: 13px;
  line-height: 1.7;
  margin-bottom: 15px;
}


.section-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  align-items: center;
  margin-top: 40px;
}

.section-grid img {
  width: 100%;
  display: block;
}

.section-grid.reverse {
  grid-template-columns: 1fr 1fr;
}

h3 {
  font-size: 20px;
  font-weight: normal;
  margin-bottom: 10px;
}

p {
  font-size: 13px;
  line-height: 1.6;
}


.delivery-text {
  font-size: 16px;
}


footer {
  margin: 40px 0 20px;
  text-align: center;
  font-size: 12px;
  color: #aaa;
}
