.order-container {
  width: 78%;
  max-width: 1050px;
  margin: 20px auto;
}

.order-container h1 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 500;
}


.pizza-grid {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  justify-content: center;
  gap: 0;
}


.pizza-card {
  display: grid;
  grid-template-columns: 90px 1fr 120px; 
  border: 2px solid #bfbfbf;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
  padding: 12px;
  margin: 0 12px 12px 0; 
  background: #fff;
  align-items: start;
}

/* COLUMN 1 */
.col-name {
  text-align: left;
}

.col-name h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.2;
}

.food-type {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1.5px solid;
  margin: 6px 0;
}

.food-type.veg {
  background: green;
  border-color: green;
}

.food-type.non-veg {
  background: red;
  border-color: red;
}

.price {
  margin: 0;
  font-size: 13px;
  font-weight: 600;
}

/* COLUMN 2 */
.col-details {
  font-size: 12px;
  padding: 0 10px;
}

.desc {
  margin-bottom: 6px;
}

/* COLUMN 3 */
.col-action {
  text-align: center;
}

.col-action img {
  width: 80px;
  height: 100px;
  border-radius: 0;         
  object-fit: cover;
  margin-bottom: 6px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.2);
}


.col-action button {
  border: none;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bolder;
  cursor: pointer;
}


.add-btn {
  background-color: #f4b400;  
  border: none;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
}

.remove-btn {
  background-color: #d32f2f;   
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 12px;
  cursor: pointer;
  border-radius: 4px;
}

